h1
{
color:3B6375;
font-size:40px;
margin: 0px;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
width:100%;
background-color:#213270;
}

li
{
float:left;
display:inline;
}

a
{
color:white;
display:block;
width:100px;
}

label
{
color:#213270;
font-size:30px;
}

legend
{
color:#213270;
}

input[type="submit"]{
	color:white;
    background-color:#213270;
}



